{% extends 'base.html' %}
{% block body %}
<nav class="d-flex justify-content-center navbar mb-4 bg-white border-bottom ">
	
	<a class="navbar-brand fs-3 fw-bold" href="/">To-Do List</a>
	<div class="d-grid gap-2 d-md-block">
		<a href="/register"><button type="button" class="btn btn-outline-primary me-md-2 fs-4">Register</button></a>
		<a href="/login"><button type="button" class="btn btn-primary w-auto fs-4">Login</button>	</a>
	</div>
	
</nav>

<div class="container my-5">
<form method="POST">
	<!--mb=margin bottom, sm=side margin-->
<div class="mb-4 row d-flex justify-content-center" >
    <label for="username" class="col-sm-1 col-form-label d-inline-flex p-2 justify-content-end">Username:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="username" id="username">
    </div>
  </div>

  <div class="mb-4 row d-flex justify-content-center"> 
    <label for="password" class="col-sm-1 col-form-label d-inline-flex p-2 justify-content-end">Password:</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="password" id="password">
    </div>
  </div>

  <div class="mb-3 row d-flex justify-content-center"> 
		<input class="btn btn-outline-primary w-50 fs-4" type="submit" value="Log In"> 
	</div>
	</form>

  {% for message in get_flashed_messages() %}
  <!-- Login Error Alert -->
  <div class="mb-3 row d-flex justify-content-center"> 
  <div class="alert alert-danger alert-dismissible d-flex p-2 align-items-center justify-content-center w-50 fs-5 fade show">
    <!-- <i class="bi-exclamation-octagon-fill"></i> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <strong class="mx-2">Error!</strong>{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
      
  {% endfor %}
</div>


{% endblock body %}